
body {
  margin: 0;
  padding: 0;
}


#img1 {
  width: 40px;
  height: 40px;
  float: left;
  margin: 20px;
}

#img2 {
  width: 40px;
  height: 40px;
  float: right;
  margin: 20px;
}

table {
  margin: 20px;
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

.case {
  border: 1px solid cadetblue;
}

th {
  color: #0c5460;

}

#content {
  margin-top: 80px;
}